* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 450;
}
.main {
  background-image: url(./images/imagesecond.jpg);
  width: 100%;
  height: 490px;
  background-position: center;
  background-size: cover;
}
.logo {
  width: 100px;
  margin: 10px;
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 5px;
  justify-content: space-between;
  margin: auto;
}
ul li {
  list-style: none;
  display: inline-block;
  padding: 5px;
  margin: 10px;
  margin-right: 100px;
}
ul li a {
  font-weight: bolder;
  text-decoration: none;
}
ul li a:hover {
  color: red;
}
.info {
  margin-top: 8%;
  margin-left: 5%;
}
.info span {
  color: blue;
  font-weight: 30px;
}
pre {
  text-decoration: underline;
  margin: 10px;
}
.image {
  width: 30%;
  height: 60%;
  position: absolute;
  right: 100px;
  bottom: 25%;
}
.image img {
  position: absolute;
  height: 100%;
  left: 40%;
  transform: translate(-55%);
  transition: left 2s ease;
}
.image:hover .prsn {
  left: 55%;
}
.box {
  display: inline-block;
}

.box img {
  width: 410px;
  margin-left: 20px;
  padding: 10px;
}
.box img:hover {
  scale: 1.03;
  box-shadow: 3px 6px black;
}

.h2 {
  background-color: rgb(29, 89, 199);
  color: aliceblue;
  text-align: center;
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.col {
  height: 400px;
  width: 400px;
  margin: 2px;
  border: 2px inset brown;
  background: linear-gradient(
    to top,
    rgb(220, 221, 240) 50%,
    rgb(98, 100, 211) 50%
  );
  background-size: 100% 200%;
  transition: all 0.8s;
}
.col:hover {
  background-position: right bottom;
  box-shadow: 2px 3px 4px black;
}
.col img {
  width: 300px;
}
.col h4 {
  text-align: center;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
}
.col p {
  text-align: justify;
  padding: 10px;
}

form {
  width: 500px;
  margin-left: 500px;
}

.input {
  width: 100%;
  margin: 5px;
  padding: 5px;
}
button {
  background-color: black;
  color: aliceblue;
  padding: 5px;
}
.cv {
  background-color: green;
  color: aliceblue;
  width: 200px;
  padding: 5px;
  text-decoration: none;
  border-radius: 20%;
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(14, 17, 206);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f0eded;
}
